@font-face {
  font-family: title-font;
  src: url(./../assets/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: primary-font;
  src: url(./../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: secondary-font;
  src: url(./../assets/fonts/Inter/Inter-VariableFont.ttf);
}

:root {
  --primary-color: #0e0e0e;
  --secondary-color: #d7d7d7;

  --primary-border: 2px solid var(--primary-color);
  --secondary-border: 0.5px solid #40404035;
  --icon-size: 1.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.icon {
  height: 1.5rem;
  margin: auto auto;
}

#navbar {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  grid-template-rows: 2rem;
  border-bottom: var(--primary-border);
}

#title {
  color: var(--primary-color);
  align-self: center;
  font-family: title-font;
  margin-left: 0.5rem;
}

#cart,
.nav-link {
  margin-left: auto;
  border-left: var(--primary-border);
  display: grid;
  gap: 0.25rem;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

#cart {
  grid-template-columns: auto auto;
}

#cart:hover,
.nav-link:hover,
button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

main {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  flex: 1;
  padding: 1rem;
}

/* Home Page styles */
#hero-image {
  height: 400px;
}

#hero-content {
  display: grid;
  justify-items: center;
  grid-column: 2 / -1;
  align-self: center;
}

#hero-title {
  font-family: title-font;
  font-size: 4rem;
}

#hero-subtitle {
  font-family: primary-font;
  font-size: 1.5rem;
}

/* Shop page styles */
.product-card {
  border: var(--primary-border);
}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin: 1rem 0;
}

.product-title {
  border-top: var(--primary-border);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
  font-family: primary-font;
  font-size: 0.8rem;
  padding-top: 0.25rem;
}

.product-price {
  text-align: center;
  font-family: secondary-font;
  margin: 0.25rem 0;
  font-weight: bold;
}

.product-count-container {
  border-top: var(--primary-border);
  border-bottom: var(--primary-border);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.product-count-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}

.minus {
  border-right: var(--primary-border);
}

.plus {
  border-left: var(--primary-border);
}

.product-count {
  text-align: center;
}

.add-to-cart {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.25rem;
  font-family: primary-font;
  font-weight: bold;
}

/* Cart Styles */
#empty-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2rem;
  text-align: center;
}
#cart-container {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cart-card {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.cart-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart-count-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.cart-count-button {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  border: var(--primary-border);
  padding: 0 0.5rem;
}

.cart-count,
.cart-price,
.cart-product-price {
  text-align: center;
}

#cart-total-title,
#cart-total {
  font-weight: bold;
}

#cart-total {
  grid-column: 4;
}

/* Footer Styles */
#footer {
  border-top: var(--primary-border);
  font-family: secondary-font;
  font-size: 0.75rem;
  padding: 0.25rem;
  text-align: center;
}

a {
  color: inherit;
}
