@font-face {
  font-family: title-font;
  src: url(./../assets/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: primary-font;
  src: url(./../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: secondary-font;
  src: url(./../assets/fonts/Inter/Inter-VariableFont.ttf);
}
