@font-face {
  font-family: title-font;
  src: url(./../assets/fonts/Bungee/Bungee-Regular.ttf);
}

@font-face {
  font-family: primary-font;
  src: url(./../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: secondary-font;
  src: url(./../assets/fonts/Inter/Inter-VariableFont.ttf);
}

:root {
  --primary-color: #0e0e0e;
  --secondary-color: #d7d7d7;

  --primary-border: 2px solid var(--primary-color);
  --icon-size: 1.5rem;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #eee;
}

.icon {
  height: 1.5rem;
  margin: auto auto;
}

#navbar {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  grid-template-rows: 2rem;
  border-bottom: var(--primary-border);
}

#title {
  color: var(--primary-color);
  align-self: center;
  font-family: title-font;
  margin-left: 0.5rem;
}

#cart,
.nav-link {
  margin-left: auto;
  border-left: var(--primary-border);
  display: grid;
  gap: 0.25rem;
  padding: 0 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

#cart {
  grid-template-columns: auto auto;
}

#cart:hover,
.nav-link:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  flex: 1;
}

/* Home Page styles */
#hero-image {
  height: 400px;
  padding-left: 1rem;
}

#hero-content {
  display: grid;
  justify-items: center;
  grid-column: 2 / -1;
  align-self: center;
  padding-right: 1rem;
}

#hero-title {
  font-family: title-font;
  font-size: 4rem;
}

#hero-subtitle {
  font-family: primary-font;
  font-size: 1.5rem;
}

/* Footer Styles */
#footer {
  border-top: var(--primary-border);
  font-family: secondary-font;
  font-size: 0.75rem;
  padding: 0.25rem;
  text-align: center;
}

a {
  color: inherit;
}
